<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' href = '/static/css/offline/main.css' />
        <link rel = 'icon' type = 'image/x-icon' href = '/favicon.ico'>
    </head>
    <body>
        <div class="offline-container">
            <div class="icon">📴</div>

            <h1>You're Offline</h1>
            <p>
                It looks like you've lost your internet connection.<br>
                This app requires an internet connection to work properly.
            </p>

            <button class="retry-btn">
                Try Again
            </button>

            <div class="status">
                Checking connection...
            </div>
        </div>
    </body>
    <script src = '/static/js/offline/main.js'> </script>
    ><script src = '/static/js/shared/theme_toggler.js'> </script>
</html>